.wechat-editor-from{
  background: #ffffff;
  padding:40px  25px;
  min-height: 730px;
  border-radius: 5px;
  border:1px solid #dddddd ;

}
.quill-contents{
  min-height: 250px;
  border-radius: 5px;
  border:1px solid #dddddd ;

}
